.login{
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.login .left-content{
    width: 50%;
    position: relative;
    height: 100%;
}

.login .left-content img{
    width: 100%;
    position: absolute;
    inset: 0;
    height: 100%;
    object-fit: cover;
}

.login .right-content{
    height: 100%;
    width: 50%;
    padding-top: 120px;
}

.login .right-content .login-form{
    width: 80%;
    background-color: #fff;
    min-height: fit-content;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 18px;
}

.login .right-content .login-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 350px;
}

.login .right-content .login-form form h1{
    font-size: 18px;
    color: #000;
    text-align: center;
}

.login .right-content .login-form form .input{
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
}


.login .right-content .login-form form .input label{
    text-align: right;
    margin-bottom: 15px;
    padding-right: 10px;
    font-weight: 500;
    color: #000;
}

.login .right-content .login-form form .input input{
    width: 100%;
    height: 46px;
    border-radius: 50px;
    text-align: right;
    border: 1px solid #e0e0e0;
    padding-right: 21px;
}

.login .right-content .login-form form button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    justify-content: center;
    gap: 0;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #17dcaf;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    width: 100%;
}


.login .right-content .login-form form h2{
    font-size: 13px;
    display: flex;
    gap: 5px;
}


@media(max-width:950px){
    .login {
        flex-direction: column-reverse;
    }

    .login .right-content .login-form {
        width: 100%;
    }

    .login .right-content {
        width: 100%;
        margin-bottom: 20px;
    }

    .login .left-content {
        width: 100%;
        position: relative;
        height: 100%;
        padding-top: 64px;
        padding-bottom: 60px;
    }
}